@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Light.ttf);
}
*, *::before,*::after {
    box-sizing: border-box;
    width: 100%;
}  
* {
    margin: 0;
    padding: 0;
    border: 0 solid transparent;
    font-family: poppins;
}
body {
    background-color: #0C151D;
    color: white;  
}
.head {
    background-color: #171F26;
    padding: 1em 1em 1em 1em;
    position: fixed;    
    font-size: 24px;
}
main {
    max-width: 560px;
    height: auto;
    margin: auto;    
    padding: 5em 1em 1em 1em;
}
.avatar {
    border: 5px solid rgb(0, 195, 255);
    width: 8em;
    height: 8em;
    border-radius: 50%; 
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 100); 
}
.font14 {    
    font-size: 14px;          
}
.flexRow {
    display: flex;
    flex-direction: row;  
    justify-content: flex-start;     
}
.socials {
    display: flex;
    flex-direction: row;  
    width: fit-content; 
    margin-top: 10px;     
}
.socialsImgD {
    margin-left: 15px;
}
.verde {
    color: rgb(151, 224, 41);
}
p {
    color: rgb(230, 230, 230);    
}
.colorParrafo {
    color: rgb(230, 230, 230);
}
.blue {
    color: rgb(0, 119, 255);
}
.socialsTamano {
    width: 2em;    
}
.flexColumnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;      
}
.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flexColumn2 {
    display: flex;
    flex-direction: column;
}
.margenTop {
    margin-top: 1em;
}
.margin-top {
    margin-top: 3em;
}
.margin-top2 {
    margin-top: 6em;
}
.marginLeft {
    margin-left: 1em;
}
.hrBorde {
    border: 0.5em solid #171F26;
    border-radius: 15px;    
}
.tamanoPequeno {
    width: 45px;
}
.tamanoMediano {
    width: 120px;
}
.boton {
    background-color: #363636;
    border-radius: 1em;
    align-items: center;
    padding: 1em;    
    cursor: pointer;
    height: 8em;
}
.fontSizeLarge {
    font-size: large;
}
.white {
    color: white;
}
.boton5:hover {
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
    background-color: blue;     
}
header ul a{
    text-decoration: none;
    color: white;    
}
input {
    border-radius: 0.5em;    
    padding: 0.5em;  
    width: auto;    
}
.width100 {
    width: 100%;
}
form {
    background-color: rgb(68, 68, 68);
    padding: 1em;
    border-radius: 0.5em;
}
textarea {
    padding: 1em;
    border-radius: 0.5em;
    max-width: 100%;
    min-width: 100%;    
}
.selectA {
    padding: 0.5em;
    border-radius: 0.5em;
}
input[type="submit"]:hover, input[type="reset"]:hover {
    transition-duration: 0.2s;
    background-color: #ffffff;
    cursor: pointer;      
}
.inputEspecial {
    width: 100%; 
    margin: 0.5em;
}
.marginColumn {
    width: 100%; 
    margin: 0.5em;
}
.radius {
    border-radius: 0.5em;
}
.padding05 {
    padding: 0.5em;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    clear: both;    
}
li {
    list-style: none;       
}
.nav {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
       
        
}

.f-8 {
    font-size: 8px;
}

.nav li {
    font-size: 12px;
    width: auto;    
}
a {
    width: auto;
    margin-left: 1em;    
}
