* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    height: 100vh;
    background-color: #0C151D;
}

header {
    background-color: #171F26;
}

/********************** MAIN *********************/

main {
    max-width: 560px;
    background-color: red;
    margin: 0 auto;
}

.cabecera {
    display: flex;
}

.img-foto-perfil {
    height: 150px;
    border-radius: 50%;
}

footer {
    background-color: #171F26;
}