* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    font-family: "EnterCommand";
}

.consola {
    width: 35em;
    height: 15em;
    border-radius: 0.5em;
    padding: 1em;    
}

.consola-h1 {
    color: #00ee00;
    font-style: normal;
    font-weight: normal;
    text-shadow: 0 0 0.3em #00ee00;
    text-align: center;
    animation: consola-h1 6s infinite;
}

@keyframes consola-h1 {
    0% {
        text-shadow: 0 0 0.3em #00ee00;
        color: #00ee00;
    } 50% {
        text-shadow: 0 0 0.3em red;
        color: red;
    } 100% {
        text-shadow: 0 0 0.3em #00ee00;
        color: #00ee00;
    }

}